<ion-view >
<div class="bar bar-header bar-dark">
	<button class="button icon ion-chevron-left" ng-click = "goBack()"></button>
  <h1 class="title">Detail</h1>
  
</div>
  <ion-content>
  <div class="list">
  <label class="item item-input item-floating-label">
    From:
    <span><input class="textinput" type="text" value="{{currentHistory.from}}"></span>
  </label>
  <label class="item item-input item-floating-label">
    To:
    <input class="textinput" type="text" value="{{currentHistory.to}}" style ="float:right;" >
  </label>
  <label class="item item-input item-floating-label">
    Date:
    <input class="textinput" type="text" value="{{currentHistory.date}}">
  </label>

  <label class="item item-input item-floating-label">
    Manager:
    <input class="textinput" type="text" value="{{currentHistory.manager}}">
  </label>

  <label class="item item-input item-floating-label">
    Department:
    <input class="textinput" type="text" value="{{currentHistory.department}}">
  </label>

  <label class="item item-input item-floating-label">
    Contact Number:
    <input class="textinput" type="text" value="{{currentHistory.mobile}}">
  </label>

  <label class="item item-input item-floating-label">
    Status:
    <input class="textinput" type="text" value="{{currentHistory.status}}">
  </label>
</div>

  </ion-content>
</ion-view>